[Unit]
Description=Telegram RSS bot
After=multi-user.target
[Service]
WorkingDirectory=/bot_dir
User=admin
Type=idle
ExecStart=/usr/bin/python3 /bot_dir/main.py &> /dev/null
Restart=always
[Install]
WantedBy=multi-user.target

